<% startups.forEach(startup => { %>
    <div class="startup" data-id="<%= startup.id %>">
        <h3><%= startup.name %></h3>
        <p><%= startup.description %></p>
        <div class="startup-details">
            <span>Field: <%= startup.field %></span>
            <br>
            <span>Experience: <%= startup.experience %> </span>
            <br>
            <span>Competitors: <%= startup.competitors %></span>
        </div>
        <button class="more-button" onclick="openStartup('<%= startup.id %>')">More</button>
    </div>
<% }) %>
