<%- include("partials/header", {css:"css/home.css", title: "The Pocket Executive", metaDescription:"From Aspiring to Inspiring Entrepreneurs"}) %>

<script>
    const startup_data = <%- JSON.stringify(items).replace(/</g, '\\u003c') %>;
    console.log(startup_data);
</script>

<h1 class="title">
    <img src="/logo/logo.svg" alt="Logo" id="logo">
    The Pocket Executive
</h1>

<div class="container">
    <div class="startup-name-container">
        <h2 id="startup-name">
            <span><%= items.name %></span>
            <img src="/images/pencil.svg" alt="Edit" id="edit-icon" onclick="window.location.href='/name-creator'">
        </h2>
    </div>
    <main id="modules-container">
        <!-- Modules will be populated here by JavaScript based on startup_data -->
    </main>
</div>

<div id="key-data-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="close-modal-button">&times;</span>
        <h2>Insert Key Data</h2>
        <form id="key-data-form">
            <input type="text" id="experience" name="experience" placeholder="Describe your Experience" value="<%= items.experience %>">
            <input type="text" id="field" name="field" placeholder="What Field do you operate in?" value="<%= items.field %>">
            <!-- <input type="text" id="description" name="field" placeholder="Your startup in a sentence" value="<%= items.description %>"> -->
            <!-- <input type="text" id="mrr" name="mrr" placeholder="MRR ($)" value="<%= items.mrr %>">
            <input type="text" id="tam" name="tam" placeholder="TAM ($)" value="<%= items.tam %>"> -->
            <button type="button" id="submit-key-data">Save</button>
        </form>
    </div>
</div>

<div class="footer-buttons">
    <button id="key_button" onclick="key_data()">Key Data</button>
    <button id="invite_button" onclick="invite()">Invite</button>
    <button id="logout_button" class="action-button" onclick="logout()">Logout</button>
</div>

<script src="javascript/home.js"></script>

<%- include('partials/footer') -%>
